.list{
    list-style: none;
    overflow-y: auto;
}

.card{
box-shadow: 0px 7px 9px 0px rgba(0,0,0,0.21);
-webkit-box-shadow: 0px 7px 9px 0px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 7px 9px 0px rgba(0,0,0,0.21);
margin: 4vh 0;
}

.sort{
    padding-right: 2%;
    padding-top: 2%;
    font-size: 19px;
    min-width: 8vw
}

.order{
    margin: 5%;
}

