.wrapper{
    width: 50%;
    margin: 3% 0 3% 24vw;
    font-size: 18px;
}

.link{
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.link:link{
    color: #265301;
}

.link:visited{
    color: #437a16;
}

.link:focus{
    border-bottom: 1px solid;
    background-color: #bae498;
}

.link:hover{
    border-bottom: 1px solid;
  background: #cdfeaa;
}

.link:active {
    background: #265301;
    color: #cdfeaa;
  }